This notebook shows the code used for the Medium blog STATISTICS: GETTING TO THE MIDDLE OF IT. Link below <br>
https://medium.com/@ari.m.horwitz/statistics-part-one-getting-to-the-middle-of-it-9f668373ecb8

In [1]:
import numpy as np
import statistics as stats
import math

In [2]:
x = [75,57,87,95,70,88,99,98,86,90,79,88,80]

## MEAN

In [3]:
sum(x)/len(x)

84.0

In [5]:
x = [75,57,87,95,70,88,99,98,86,90,79,88,80]
# round to drop the decimal
round(sum(x)/len(x))

84

In [6]:
np.mean(x)

84.0

In [15]:
import numpy as np
# to drop the decimal
int(np.mean(x))

84

## MEDIAN

In [16]:
# sort x in order from lowest to highest grades
order = sorted(x)
# find middle number by dividing length in half
med = len(x)//2
# find value at middle index
order[med]

87

In [19]:
int(np.median(x))

87

In [21]:
y = [75,57,87,95,70,88,99,98,87,90,79,88]

In [22]:
order = sorted(y)
med = len(y)//2

In [23]:
# find 2 middle numbers by indexing the middle values of the length 
# since indexing starts at 0, to find the second midpoint, minus med by 1
middles = order[med] + order[med - 1]

In [24]:
# median found by dividing by 2 (avg the middle numbers)
middles/2

87.5

In [25]:
y = [75,57,87,95,70,88,99,98,87,90,79,88]
order = sorted(y)
med = len(y)//2
middles = order[med] + order[med - 1]
middles/2

87.5

In [26]:
np.median(y)

87.5

## MODE

In [27]:
# create a dictionary with key as grades in x and default value at 0
scores = dict.fromkeys(x,0)

In [28]:
scores

{75: 0,
 57: 0,
 87: 0,
 95: 0,
 70: 0,
 88: 0,
 99: 0,
 98: 0,
 86: 0,
 90: 0,
 79: 0,
 80: 0}

In [29]:
set(scores)

{57, 70, 75, 79, 80, 86, 87, 88, 90, 95, 98, 99}

In [32]:
scores = dict.fromkeys(x,0)
set(scores)
for grade in x:
   scores[grade] += 1

scores

{75: 1,
 57: 1,
 87: 1,
 95: 1,
 70: 1,
 88: 2,
 99: 1,
 98: 1,
 86: 1,
 90: 1,
 79: 1,
 80: 1}

In [40]:
scores = dict.fromkeys(x,0)
for grade in x:
   scores[grade] += 1

scores

{75: 1,
 57: 1,
 87: 1,
 95: 1,
 70: 1,
 88: 2,
 99: 1,
 98: 1,
 86: 1,
 90: 1,
 79: 1,
 80: 1}

In [ ]:
# As can see in the above, 88 is the most common grade, happening twice

In [36]:
stats.mode(x)

88

In [49]:
# when more than one mode
y_scores = dict.fromkeys(y,0)
for grade in y:
    y_scores[grade] += 1

y_scores

{75: 1, 57: 1, 87: 2, 95: 1, 70: 1, 88: 2, 99: 1, 98: 1, 90: 1, 79: 1}

In [50]:
stats.mode(y)

StatisticsError: no unique mode; found 2 equally common values

In [ ]:
#  but breaks if try to use statsmodel to find it

## MAXIMUM

In [51]:
# from the ordered list, index the last item (the -1 element)
order[-1]

99

In [52]:
# use max function to identify the largest x value (without need to order)
max(x)

99

## MINIMUM

In [53]:
# from the ordered list, index the first item (the 0th element)
order[0]

57

In [54]:
# use min function to identify the smallest x value (without need to order)
min(x)

57

## RANGE

In [55]:
# to find how big the range is of our numbers, subtract the higest value by the lowest value
order[-1] - order[0]

42

In [56]:
# Alternatively, subtract the max value by the min value
max(x) - min(x)

42